# Copia aquest fitxer com .env i omple els valors reals
# IMPORTANT: .env no es puja a github mai

# API key de DNSExit per al DNS challenge d'acme.sh
DNSEXIT_APIKEY=LA_TEVA_API_KEY_AQUI

# Domini principal del lab
DOMAIN=demohttp.publicvm.com

# Credencials autenticació bàsica (etapa 4)
AUTH_USER=admin
AUTH_PASS=canvia-aquesta-contrasenya
