.env
certs/*.pem
certs/*.key
certs/*.crt
certs/acme/
etapa4-auth/configs/auth/.htpasswd
*.tmp
__pycache__/
*.pyc
.lab-stage
etapa6-logs/logs/**/*.log
etapa6-logs/logs/**/*.json
etapa6-logs/logs/**/*.gz
etapa6-logs/logs/*.log
etapa6-logs/logs/*.json
etapa6-logs/logs/*.gz
etapa6-logs/logs/**/*.log.*
etapa6-logs/logs/*.log.*
clab-*/
assessment/
